.notification code, .notification pre {
  background-color: transparent; }

.is-gapless .column .notification {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

header.column h2 {
  margin-bottom: 0; }

@media screen and (max-width: 1087px) {
  html.has-spaced-navbar-fixed-top {
    padding-top: 2.25rem; } }

@media screen and (max-width: 768px) {
  .is-4:first-child .notification {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .is-8:last-child .notification {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  header.column .notification {
    padding-bottom: 0; } }

@media screen and (min-width: 769px) {
  .column .notification,
  .column .image {
    height: 100%; }
  .is-4:first-child .notification {
    border-top-left-radius: 4px; }
  .is-8:nth-child(2) .notification {
    border-top-right-radius: 4px; }
  .is-4:nth-last-child(2) .notification {
    border-bottom-left-radius: 4px; }
  .is-8:last-child .notification {
    border-bottom-right-radius: 4px; } }
