.orchid-sourcedoc .table {
  margin-bottom: 1rem; }

.orchid-sourcedoc code a {
  font-family: monospace; }

.orchid-sourcedoc h1, .orchid-sourcedoc h2, .orchid-sourcedoc h3, .orchid-sourcedoc h4, .orchid-sourcedoc h5, .orchid-sourcedoc h6 {
  padding-top: 30px; }
