/* Fix some conflicts with Prism and Bulma */
pre[class*="language-"] {
  margin: inherit; }

code[class*="language-"], pre[class*="language-"],
code, pre {
  font-family: 'Fira Code', 'Source Code Pro', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; }

:not(pre) > code[class*="language-"], pre[class*="language-"],
pre {
  background: #363636;
  color: #ccc; }

pre[class*="language-"] .number {
  align-items: inherit;
  background-color: inherit;
  border-radius: inherit;
  display: inherit;
  font-size: inherit;
  height: inherit;
  justify-content: inherit;
  margin-right: inherit;
  min-width: inherit;
  padding: inherit;
  text-align: inherit;
  vertical-align: inherit; }

pre.notification {
  padding: 1em; }
