name: Release

on: [release]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          version: 1.8
      - name: Build release
        run: ./gradlew build final -Prelease.useLastTag=true
        env:
          BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
          BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}

  site:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          version: 1.8
      - name: Build site
        run: ./gradlew :site:orchidBuild -Prelease.useLastTag=true -Penv=prod
      - name: Publish site
        uses: maxheld83/ghpages@v0.2.1
        env:
          BUILD_DIR: site/build/docs/orchid/
          GH_PAT: ${{ secrets.GH_PAT }}

  announce:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Tweet message
        uses: xorilog/twitter-action@0.2
        with:
          args: "-message \"Strikt ${{ github.event.release.tag_name }} ${{ github.event.release.name }} is available. https://strikt.io\n\nRelease notes: https://github.com/${{ github.repository }}/releases/${{ github.event.release.tag_name }}\""
        env:
          TWITTER_CONSUMER_KEY: ${{ secrets.TWITTER_CONSUMER_KEY }}
          TWITTER_CONSUMER_SECRET: ${{ secrets.TWITTER_CONSUMER_SECRET }}
          TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          TWITTER_ACCESS_SECRET: ${{ secrets.TWITTER_ACCESS_SECRET }}
